.bg2 .second{
    position: relative;
    z-index: 2;
}
.second h1{
    margin: 50px;
    font-size: 4vw;
    font-family: "MedievalSharp", cursive;
    color:white;
    text-shadow: 4px 4px 8px #000000;
}
.second p{
    font-size: 2vw;
    font-family: "Tagesschrift", system-ui;
    color:white;
    text-shadow: 2px 2px 4px #000000;
}
.second button{
    margin-top: 2vw;
    padding: 10px 20px;
    font-size: 1.5vw;
    border: none;
    border-radius: 5px;
    background-color:  rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 2px 2px 4px #000000;
    cursor: pointer;
    font-family: "Tagesschrift", system-ui;
    border: 2px solid white;
}

.second button:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.houses img{
    margin: 20px;
    /* transition: transform 0.3s ease, filter 0.3s ease; */
}

.houses img:hover{
    transform: scale(1.1);
    filter: drop-shadow(2px 4px 6px white);
    filter: brightness(1.2);
}
.houses :hover img :not(:hover){
    filter: brightness(0.8);
}