h1{
    text-align: center;
    margin-top: 20px;
    font-size: 4vw;
    font-family: "MedievalSharp", cursive;
}

#quiz img{
    display: block;
    margin: 20px auto;
    width: 20vw;
    height: auto;
}

#quiz h2{
    text-align: center;
    font-size: 2vw;
    font-family: "Tagesschrift", system-ui;
    color:white;
    text-shadow: 2px 2px 4px #000000;
}