h1{
    font-family: "MedievalSharp", cursive;
    font-size: 4vw;
}
.slider{
    position: relative;
    width: 90%;
    height: 100vh;
    overflow: hidden;
    margin: auto;
}

.slides{
    display: flex;
    height: 100%;
    margin-top: 10vh;
    /* opacity: 0; */
    /* transition: opacity 0.8 ease; */
}

.slide {
  /* min-width: 100%; */
  height: 100%;
  position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.slide img{
    width: 60vw;
    height: 60%;
    border: 3px solid #fff;
    /* display: block; */
    /* margin: auto; */
    /* object-fit: cover; */
}

.content{
    position: absolute;
    /* bottom: 20%; */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    /* border-radius: 10px; */
    width: 60%;
    border: hsl(0, 0%, 100%) 2px solid;
    /* border: hidden; */
}

.content h2{
    font-size: 2.5rem;
    /* margin-bottom: 10px; */
    font-family: "MedievalSharp", cursive;
}

.content p{
    font-size: 1.2rem;
    font-family: "Tagesschrift", system-ui;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}
.prev { left: 20px; }
.next { right: 20px; }
.prev:hover, .next:hover {
  background: rgba(0,0,0,0.8);
}