body{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background-color: rgb(46, 74, 68);
}
#front{
    height: 100vh;
    width: 80vw;
    display: block;
    margin: auto;
}
.img_container{
    position: relative;
    text-align: center;
    color: white;
}   
.text
{
    position:absolute;
    top: 80%;
    left: 50%; 
    transform: translate(-50%, -50%);/*used to perfectly center an element*/
    font-size: 5vw;
    font-family: "MedievalSharp", cursive;
    color: rgb(250, 188, 32);
    text-shadow: 4px 4px 8px #000000;
    /* text-decoration: solid underline; */
    /* font-family: "Sekuya", system-ui; */
}

/*typewriter effect*/
.text{
    overflow: hidden;/*hides text while typing*/
    white-space: nowrap;/*keeps the text in a single line*/
    border-right: 4px solid orange;/*creates the cursor*/
    animation: typing 4s steps(40, end), blink-caret .75s step-end 6;

}
@keyframes typing {
    from { width: 0 }
    to { width: 22ch } /*to match text length*/
}
@keyframes blink-caret {
    /* from, to { border-color: transparent } */
    50% { border-color: transparent; }
}

#mute-unmute{
    position: absolute;
    top: 0%;
    right: 10%;
    padding: 5px 10px;
    font-size: 1vw;
    border: none;
    border-radius: 5px;
    background-color:  rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    border: 1px solid white;
}
#mute-unmute:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

