body{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background-color: rgb(46, 74, 68);
}
#front{
    height: 100vh;
    width: 80vw;
    display: block;
    margin: auto;
}
.img_container{
    position: relative;
    text-align: center;
    color: white;
}   
.text
{
    position:absolute;
    top: 80%;
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 5vw;
    font-family: 'MedievalSharp';
}